name: SAP BTP deployment with CTMS
on:
  push:
    branches: [main]
jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
      - run: npm ci
      - run: npm i -g mbt
      - run: mbt build -t gen --mtar mta.tar  
      - name: Deploy to SAP BTP DEV via CTMS
        uses: mauriciolauffer/deploy-to-sap-btp-with-ctms@main
        with: 
          CTMS_TOKEN_SERVICE_URL: https://4207ef80trial.authentication.us10.hana.ondemand.com/oauth/token
          CTMS_CLIENT_ID: sb-bcb71540-a132-4342-9934-d1b4a52dfcb8!b583812|alm-ts-backend!b1603
          CTMS_CLIENT_SECRET: ba4bb210-336b-4853-b347-5c6239fded59$yHW9P9CsLErEfbcppxLlULyd5_detTEQaPh1vLV0KgM=
          CTMS_TR_USER_NAME: kishorekumar.gudimetla@astrazeneca.com
          CTMS_API_URL:  https://transport-service-app-backend.ts.cfapps.us10.hana.ondemand.com/v2
          CTMS_NODE_NAME: dev
          CTMS_FILE_PATH: gen/mta.tar
          CTMS_TR_DESCRIPTION: Automated deployment from GitHub Actions
          CTMS_TR_CONTENT_TYPE: MTA
          CTMS_TR_STORAGE_TYPE: FILE
      
          
