name: SAP BTP deployment with CTMS
on:
  push:
    branches: [main]
jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
      - run: npm ci
      - name: Deploy to SAP BTP DEV via CTMS
        uses: mauriciolauffer/deploy-to-sap-btp-with-ctms@main
        with: 
          CTMS_TOKEN_SERVICE_URL: ${{ secrets.CTMS_TOKEN_SERVICE_URL }}
          CTMS_CLIENT_ID: ${{ secrets.CTMS_CLIENT_ID }}
          CTMS_CLIENT_SECRET: ${{ secrets.CTMS_CLIENT_SECRET }}
          CTMS_TR_CLIENT_ID: ${{ secrets.CTMS_TR_CLIENT_ID }}
          CTMS_TR_PASSWORD: ${{ secrets.CTMS_TR_PASSWORD }}
          CTMS_API_URL:  https://transport-service-app-backend.ts.cfapps.ap10.hana.ondemand.com/v2
          CTMS_NODE_NAME: dev
          CTMS_FILE_PATH: gen/mta.tar
          CTMS_TR_DESCRIPTION: Automated deployment from GitHub Actions
          CTMS_TR_CONTENT_TYPE: MTA
          CTMS_TR_STORAGE_TYPE: FILE
      
          
